<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="shortcut icon" href="https://i.ibb.co/WWbycY3/1617444657903.png" type="image/x-icon">
    <title>GTA - Done</title>
  </head>
  <body class="body1">
<div class="heading">
  <center>
    <img src="https://i.ibb.co/WWbycY3/1617444657903.png" height="250px" alt="">
    <!-- <p>Get The Assignment - Done !</p> -->

  </center>
</div>
<div class="subheading">

  <center>
      <p>How it works?</p>
  </center>

</div>
<div class="textnormal">
<center>
  <p>All you have to do is enter the required text in the text field below, and then hit the submit button. Then you'll be redirected to another page where all your entered text will appear to be handwritten and real. Therafter, you can download the page as PDF. Works best to complete your long assignments in just a while</p>

</center></div>
<br>
<br>
<br>
<center>
  <form class="" action="/output" method="post">
    <label for="enter" class="textnormal">Enter Text Here</label>
    <input type="text" name="enter" value="" class="textbox" >
    <br><br />
    <input type="submit" name="submit" value="submit">
  </form>
</center>
<br><br><br><br><br>
<div class="footer">
  <center>
    <p>made with love by Team Aesthetes, github repo <a href="https://github.com/aakzsh/gta-done" color="white">here</a></p>
  </center>
</div>
  </body>
</html>
