<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="static/styles.css">
    <title>GTA - Done</title>
  </head>
  <body class="body1">
<div class="heading">
  <center>
    <p>Get The Assignment - Done !</p>

  </center>
</div>
<div class="subheading">

    <p>how it works?</p>

</div>
<div class="textnormal">
  <p>All you have to do is submit whatever text in the text field below, and then you'll be able to have this text on a white background in handwriting. It is specially made for students that are asked to submit assignments everyday when all they have to do is copy-paste.</p>
</div>
<br>
<br>
<br>
<form class="" action="index.html" method="post">
  <label for="enter" class="textnormal">Enter Text Here</label>
  <input type="text" name="enter" value="" class="textbox" >
  <br><br />
  <input type="submit" name="submit" value="submit">
</form>

<div class="footer">
  <center>
    <p>made with love by Team Aesthetes, github repo <a href="https://github.com/aakzsh/gta-done" color="white">here</a></p>
  </center>
</div>
  </body>
</html>
